@define-color background rgb(40, 42, 54);
@define-color current-line rgb(68, 71, 90);
@define-color foreground rgb(248, 248, 242);
@define-color comment rgb(98, 114, 164);
@define-color cyan rgb(139, 233, 253);
@define-color green rgb(80, 250, 123);
@define-color orange rgb(255, 184, 108);
@define-color pink rgb(255, 121, 198);
@define-color purple rgb(189, 147, 249);
@define-color red rgb(255, 85, 85);
@define-color yellow rgb(241, 250, 140);

* {
    border:        none;
    border-radius: 0;
    font-family:   'FiraCode Nerd Font';
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      @forground;
    background: @background;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
}

#workspaces button:hover {
    background: @background;
}

#workspaces button.visible {
    color:      @yellow;
}

#workspaces button.focused {
    color:      @purple;
}

#workspaces button.urgent {
    color:      @orange;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#pulseaudio {
    color: @purple;
}

#cpu {
    color: @purple;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
    color: @orange;
}

#battery.warning {
    color:       @orange;
}

#battery.critical {
    color:      @red;
}

#battery.charging {
    color: @purple;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
